<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{ 'index.html' | relative_url }}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'categories.html' | relative_url }}">Categories</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'your-story.html' | relative_url }}" >Tell your story</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'contact.html' | relative_url }}">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" rel="noopener noreferrer license" href="https://www.buymeacoffee.com/Nitigya">Buy me a Beer <i class="fa fa-beer text-warning"></i></a>
</li>
